.headerSobre {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
}

.socialIcons svg,
.socialIcons g {
  max-width: 100%;
}

header p {
  font-size: 2rem;
  color: #fff;
}

.aboutBlock {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.teamCard h4 {
  margin: 150px 0;
  font-size: 4rem;
}

footer {
  margin-top: 150px;
}

/* FAÇA PARTE EMAIL */
.contact {
  margin-top: 200px;
}

@keyframes draw {
  0% {
    stroke-dasharray: 140 540;
    stroke-dashoffset: -474;
    stroke-width: 8px;
  }
  100% {
    stroke-dasharray: 760;
    stroke-dashoffset: 0;
    stroke-width: 2px;
  }
}

.svg-wrapper:hover .shape {
  -webkit-animation: 0.5s draw linear forwards;
  animation: 0.5s draw linear forwards;
}


@media (min-width: 1100px) {
  .headerSobre p {
    font-size: 3rem;
    text-align: center;
    color: #fff;
  }
}
