.rtf--mb {
  background-color: var(--primary) !important;
}

#Modal-1 {
  height: 45%;
}

.gameInfoBlock {
  border-radius: 30px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.gameInfoBlock h1 {
  color: #fff;
  font-weight: bold;
}

.gameInfoBlock .descriptionGameBlock p {
  -webkit-text-stroke-width: 0.5px;
  font-weight: bold;
}

.gameInfoBlock .collapsible-body p {
  color: #000;
}

.descriptionGameBlock {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.descriptionGameBlock p {
  margin: 50px 0;
  width: 90%;
}

.descriptionGameBlock .material-placeholder {
  width: 90%;
}

.descriptionGameBlock img {
  border-radius: 15px;
  padding-top: 10%;
}

.linksBlock {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 150px;
  margin-bottom: 150px;
}

iframe {
  width: 90%;
  margin: 100px 0;
}

.news {
  width: 90%;
}

.news h3 {
  font-weight: bold;
  margin: 100px 0;

  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000;
}

.news .collapsible-header {
  font-size: 1.6rem;
}

.news .collapsible-header i {
  font-size: 2.5rem;
}

.news a {
  font-weight: bold;
  color: var(--primary);
  text-transform: uppercase;
}

.news .btn {
  background-color: var(--primary);
  color: #fff;
  margin-top: 10px;
  width: 100%;
}

.news .btn:hover {
  background-color: var(--primary-dark);
}

.news .collapsible-body img {
  width: 100% !important;
  height: auto !important;
}

.news .collapsible-body p {
  word-break: break-word;
}

.commentsBlock {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.commentsBlock h4 {
  width: 90%;
  margin-bottom: 50px;
  text-align: left;
  font-weight: bold;
  -webkit-text-stroke-width: 1px;
}

.comments {
  width: 90%;
}

.comments h3 {
  font-size: 2rem;
  font-weight: bold;
  color: var(--primary-dark);
}

.comments p {
  text-align: center;
  color: #000;
  word-break: break-word;
}

.comments h3 span {
  font-size: 1.1rem;
}

.comments hr {
  height: 5px;
  border: none;
}

.commentsForm {
  padding-bottom: 100px;
  margin-top: 100px;
  width: 90%;
}

.commentsForm form {
  padding-top: 10px;
}

.commentsForm
  .input-field
  input:not(.browser-default):focus:not([readonly])
  + label,
.commentsForm textarea:not(.browser-default):focus:not([readonly]) + label {
  color: #fff;
}

.commentsForm .file-field {
  padding-top: 10px;
}
.commentsForm .input-field .prefix.active {
  color: #fff;
}

.commentsForm .errorBlock a {
  margin: 0;
}

.note i {
  float: right;
}

.good {
  color: var(--good);
}

.reasonable {
  color: var(--reasonable);
}

.bad {
  color: var(--bad);
}

.modal-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.dropdown-content li a {
  color: #000;
}

.dropdown-content ul :nth-child(2) {
  display: none;
}

.modal-content p {
  color: #000;
}

.rtf--ab__c button:focus {
  background-color: #aaa;
}

@media (min-width: 768px) {
  #Modal-1 {
    height: 60%;
  }
}

@media (min-width: 1100px) {
  #Modal-1 {
    height: 70%;
  }

  .descriptionGameBlock {
    padding-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .descriptionGameBlock img {
    padding-top: 0;
  }

  .news .collapsible-body img {
    max-height: 400px;
  }
}

@media (max-height: 600px) {
  .modal {
    height: 100% !important;
  }

  .modal .modal-footer {
    text-align: center;
  }
}

/* FONTS */
@font-face {
  font-family: "Minecrafter";
  src: url("../../assets/fonts/Minecrafter.Reg.ttf") format("ttf");
}
@font-face {
  font-family: "Counter-Strike";
  src: url("../../assets/fonts/cs_regular.ttf");
}
@font-face {
  font-family: "Farcry";
  src: url("../../assets/fonts/FARCRY.TTF");
}
@font-face {
  font-family: "GodofWar";
  src: url("../../assets/fonts/GODOFWAR.TTF");
}
@font-face {
  font-family: "Gta";
  src: url("../../assets/fonts/gta.ttf");
}
@font-face {
  font-family: "Sf";
  src: url("../../assets/fonts/SSF.ttf");
}
@font-face {
  font-family: "Mk";
  src: url("../../assets/fonts/MK4.TTF");
}
@font-face {
  font-family: "Halo";
  src: url("../../assets/fonts/Halo.ttf");
}
@font-face {
  font-family: "Mario";
  src: url("../../assets/fonts/SuperMario256.ttf");
}
@font-face {
  font-family: "Nfs";
  src: url("../../assets/fonts/NFS_by_JLTV.ttf");
}

.mine {
  font-family: "Minecrafter";
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #000;
}

.cs {
  font-family: "Counter-Strike";
}

.farcry {
  font-family: "Farcry";
}

.god {
  font-family: "GodofWar";
}

.gta {
  font-family: "Gta";
}

.sf {
  font-family: "Sf";
}

.mk {
  font-family: "Mk";
}

.halo {
  font-family: "Halo";
}

.mario {
  font-family: "Mario";
}

.nfs {
  font-family: "Nfs";
}
