.gameInfoBlock {
  border-radius: 30px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.gameInfoBlock h1 {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000;
  color: #fff;
  font-weight: bold;
}

.gameInfoBlock .descriptionGameBlock p {
  -webkit-text-stroke-width: 0.5px;
  font-weight: bold;
}

.gameInfoBlock .collapsible-body p {
  color: #000;
}

.descriptionGameBlock {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.descriptionGameBlock p {
  margin: 50px 0;
  width: 90%;
}

.descriptionGameBlock img {
  width: 90%;
  border-radius: 15px;
  padding-top: 10%;
}

.linksBlock {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 150px;
  margin-bottom: 150px;
}

iframe {
  width: 90%;
  margin: 100px 0;
}

.news {
  width: 90%;
}

.news h3 {
  font-weight: bold;
  margin: 100px 0;

  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000;
}

.news .collapsible-header {
  font-size: 1.6rem;
}

.news .collapsible-header i {
  font-size: 2.5rem;
}

.news a {
  font-weight: bold;
  color: var(--primary);
  text-transform: uppercase;
}

.news .btn {
  background-color: var(--primary);
  color: #fff;
  margin-top: 10px;
  width: 100%;
}

.news .btn:hover {
  background-color: var(--primary-dark);
}

.news .collapsible-body img {
  width: 100% !important;
  height: auto !important;
}

.news .collapsible-body p {
  word-break: break-word;
}

.commentsBlock {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.commentsBlock h4 {
  width: 90%;
  margin-bottom: 50px;
  text-align: left;
  font-weight: bold;
  -webkit-text-stroke-width: 1px;
}

.comments {
  width: 90%;
}

.comments h3 {
  font-size: 2rem;
  font-weight: bold;
  color: var(--primary-dark);
}

.comments p {
  text-align: center;
  color: #000;
  word-break: break-word;
}

.comments h3 span {
  font-size: 1.1rem;
}

.comments hr {
  height: 5px;
  border: none;
}

.commentsForm {
  padding-bottom: 100px;
  margin-top: 100px;
  width: 90%;
}

.commentsForm form {
  padding-top: 10px;
}

.commentsForm
  .input-field
  input:not(.browser-default):focus:not([readonly])
  + label {
  color: #fff;
}

.commentsForm .file-field {
  padding-top: 10px;
}
.commentsForm .input-field .prefix.active {
  color: #fff;
}


.commentsForm button:hover,
.commentsForm button:focus {
  background-color: transparent !important;
  color: var(--primary) !important;
  box-shadow: none;
}

.commentsForm button:hover i,
.commentsForm button:focus i{
  color: var(--primary) !important;
}

.note i {
  float: right;
  font-size: 4rem;
}

.good {
  color: var(--good);
}

.reasonable {
  color: var(--reasonable);
}

.bad {
  color: var(--bad);
}

@media (min-width: 1100px) {
  .descriptionGameBlock {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .descriptionGameBlock img {
    padding-top: 0;
  }

  .news .collapsible-body img {
    max-height: 400px;
  }
}
