.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10%;
}

.pagination li a {
  font-size: 2rem;
}

.pagination .color {
  background-color: var(--primary) !important;
}
