/* COLORS */
.all,
.tabsFilters ul li:first-of-type {
  background-color: var(--primary);
}

.action,
.tabsFilters ul li:nth-child(2) {
  background-color: var(--action);
}

.strategy,
.tabsFilters ul :nth-child(3) {
  background-color: var(--strategy);
}

.fight,
.tabsFilters ul :nth-child(4) {
  background-color: var(--fight);
}

.running,
.tabsFilters ul :nth-child(5) {
  background-color: var(--running);
}

.rpg,
.tabsFilters ul :nth-child(6) {
  background-color: var(--rpg);
}

.construction,
.tabsFilters ul :nth-child(7) {
  background-color: var(--construction);
}

.vr,
.tabsFilters ul :nth-child(8) {
  background-color: var(--real-life);
}

.music,
.tabsFilters ul :nth-child(9) {
  background-color: var(--music);
}

.sports,
.tabsFilters ul :nth-child(10) {
  background-color: var(--sports);
}

/* STYLES */

.titleBlock h1 {
  font-weight: bold;
  font-size: 3.6rem;
}

.titleBlock a {
  display: block;
  margin-top: 10%;
  background-color: var(--primary);
  font-size: 1.6rem;
  font-weight: bold;
  width: 100%;
}

.titleBlock a:hover,
.titleBlock a:focus {
  background-color: var(--primary-dark);
}

.filtersBlock i {
  color: #fff;
  font-size: 3rem;
  font-weight: bold;
}

.filtersBlock button {
  display: none;
}

.tabsFilters .tabs .tab a,
.tabsFilters .tabs .tab a.active {
  color: #fff;
}

.filtersBlock .dropdown-content li > a {
  color: #fff;
  font-weight: bold;
}

.filtersBlock .input-field input:not(.browser-default):focus:not([readonly]) {
  border-bottom: 1px solid var(--primary);
  box-shadow: 0 1px 0 0 var(--primary);
}

.emailForm .input-field > label {
  color: #000;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 1rem;
  cursor: text;
  transition: transform 0.2s ease-out, color 0.2s ease-out;
  transform-origin: 0% 100%;
  text-align: initial;
  transform: translateY(12px);
}

.filtersBlock
  .input-field
  input:not(.browser-default):focus:not([readonly])
  + label {
  color: #fff;
}

.filtersBlock .input-field .prefix.active {
  color: #fff;
}

.dropdown-content {
  background: none;
  box-shadow: none;
}

.dropdown-content {
  margin-left: 1px !important;
}

.filtersBlock .input-field {
  width: 100%;
}

.catalog {
  z-index: -1;
}

.catalog img{
  border-radius: 5px;
  width: 98% !important;
  height: 90%;
}

.cardGame {
  border-radius: 0 50px 0 50px;
  padding: 37px 10px !important;
  margin-bottom: 50px;
  max-width: 98%;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.cardGame h4 {
  max-height: 25px;
}

.Mui-disabled label {
  font-size: 4rem;
  color: #fff;
}

@media (min-width: 1100px) {
  .catalog {
    margin-top: 50px;
    margin-bottom: 100px;
  }

  .filtersBlock button {
    display: block;
    font-weight: bold;
    background-color: var(--primary);
    width: 100%;
  }

  .filtersBlock button:hover {
    background-color: var(--primary-dark);
  }

  .filtersBlock button:focus {
    background-color: var(--primary);
  }

  .tabsFilters {
    display: none;
  }

  .cardGame {
    height: 270px;
  }
}

@media (min-width: 1600px) {
  .cardGame {
    height: 290px;
  }
}

@media (max-width: 768px) {
  .cardGame {
    height: 260px;
  }
}

@media (min-width: 1024px) and (max-height: 1366px) {
  .filtersBlock button {
    display: block;
    background-color: var(--primary);
    width: 100%;
  }

  .filtersBlock button:hover {
    background-color: var(--primary-dark);
  }

  .tabsFilters {
    display: none;
  }
}
