.iconsNote i{
  position: absolute;
  font-size: 4rem;
}

.cardGame {
  border-radius: 0 50px 0 50px;
  padding: 37px 10px !important;
  margin-bottom: 50px;
  max-width: 98%;
  height: 250px;
  display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cardGame h4 {
  max-height: 50px;
}

.Mui-disabled label {
  font-size: 4rem;
  color: #fff;
}

@media (min-width: 1100px) {
  .cardGame {
    height: 270px;
  }
}

@media (min-width: 1600px) {
  .cardGame {
    height: 290px;
  }
}

@media (max-width: 768px) {
  .cardGame {
    height: 260px;
  }
}






