.cardGame {
  border-radius: 50px 0 50px 0;
  padding: 37px 10px !important;
  margin-bottom: 50px;
  max-width: 98%;
  height: 300px;
}

.cardGame h4 {
  height: 50px;
}

.Mui-disabled label {
  font-size: 4rem;
  color: #fff;
}
