nav {
 height: 50px !important;
 background-color: var(--background-dark);
}

nav li a {
 font-size: 1.6rem;
}

nav img{
 width: 65%;
}

.sidenav{
 background-color: var(--background);
}

.sidenav li a {
 color: #fff;
}

@media (min-width: 1100px) {
 nav {
  height: 60px !important;
  background-color: var(--background-dark);
 }

 
nav li a {
 font-size: 1.6rem;
}
}