.commentsForm button,
.commentsForm a {
  margin: 20px 0;
  float: right;
}

.commentsForm a {
  margin: 20px 0;
  float: right;
}

.commentsForm a:hover,
.commentsForm a:focus{
  background-color: transparent !important;
  color: var(--primary) !important;
  box-shadow: none;
}
