:root {
 --background: #474445;
 --background-dark: #272526;
 --primary: #E10F4C;
 --primary-dark: #D40340;
 --color-secondary: #C4C4C4;
 
 font-size: 60%;
}

*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

body{
 background: var(--background);
}


body,
input,
button,
textarea{
 font: 500 1.6rem;
}


@media(min-width: 700px){
 :root{
  font-size: 62.5%;
 }
}