h4{
 color: #fff;
 font-weight: bold;
}

p{
 font-size: 2.0rem;
 color: #fff;
 text-align: center;
}

.benefits svg{
 max-width: 100%;
 width: 401px;
 height: 401px;
}

.benefits p{
  padding: inherit;
}

/*SVG */
#quadrado,
#quadradoB,
#quadradoC,
#iconA,
#iconB,
#iconC,
#retanguloA,
#retanguloB,
#retanguloC{
    -webkit-transition: 300ms all;
    transition: 250ms all;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}

#quadrado:hover #retanguloA,
#quadradoB:hover #retanguloB,
#quadradoC:hover #retanguloC{
    fill: #E10F4C;
    -webkit-transform: rotate(404deg);
    transform: rotate(404deg) scale(1.3);
}

#quadrado:hover #borda,
#quadradoB:hover #bordaB,
#quadradoC:hover #bordaC{
  stroke:#C4C4C4; 
}

#quadrado:hover #iconA,
#quadradoB:hover #iconB,
#quadradoC:hover #iconC{
  fill: #C4C4C4;
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
}

@media (min-width: 768px) {
  .benefits p{
    padding: unset;
  }
}
